#### Mutable Sequence

#### 1. List

List is similar as tuple but they are mutable

In [1]:
my_empty_list = []
my_empty_list

[]

In [2]:
my_empty_list1 = list()
my_empty_list1

[]

In [3]:
my_empty_list2 = [1, 2, 3]
my_empty_list2

[1, 2, 3]

In [5]:
my_empty_list3 = list((1, 2, 3))
my_empty_list3

[1, 2, 3]

In [6]:
my_empty_list4 = list((4, 'python', 2.111))
my_empty_list4

[4, 'python', 2.111]

A common mistake

In [7]:
my_empty_list5 = list('hello')
my_empty_list5

['h', 'e', 'l', 'l', 'o']

In [9]:
my_empty_list5 = list(['hello'])
my_empty_list5

['hello']

In [10]:
my_empty_list5 = ['hello']
my_empty_list5

['hello']

List Methods

##### A. Append

In [11]:
my_empty_list3

[1, 2, 3]

In [12]:
my_empty_list3.append(4)
my_empty_list3

[1, 2, 3, 4]

In [14]:
#It will raise an error because tuples are immutable
my_tuple = (1, 2, 3)
my_tuple.append(4)
my_tuple

AttributeError: 'tuple' object has no attribute 'append'

##### B. Count

In [15]:
my_list = [1, 1, 2, 3, 'python', 'Java', 2,3, 'Python', 'python', 'sql', 1, 1]

my_list.count(1)

4

In [16]:
my_list.count('python')

2

##### Other methods

In [18]:
my_list

[1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1, 1]

In [19]:
# removes the right most element from the list
my_list.pop()

1

In [20]:
my_list

[1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [21]:
# Pop an element from a certain position
my_list.pop(2)

2

In [22]:
my_list

[1, 1, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [23]:
#Insert an element at a certain position
my_list.insert(2, 20)
my_list

[1, 1, 20, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [25]:
#Reverse your list in order
my_list.reverse()
my_list

[1, 'sql', 'python', 'Python', 3, 2, 'Java', 'python', 3, 20, 1, 1]

In [28]:
#Sort your list in increasing order
my_list = [1, 100, 2, 200, -1, -100]
my_list.sort()
my_list

[-100, -1, 1, 2, 100, 200]

In [31]:
#append a list to a list
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# we expect [1, 2, 3, 4, 5, 6]

my_list1.append(my_list2)
my_list1

[1, 2, 3, [4, 5, 6]]

In [32]:
#Extend
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# we expect [1, 2, 3, 4, 5, 6]

my_list1.extend(my_list2)
my_list1

[1, 2, 3, 4, 5, 6]

In [33]:
my_list = list((90, 56, 76, 34, 12, 10))
my_list

[90, 56, 76, 34, 12, 10]

In [39]:
#smallest element of list, largest element, sum of list, size of list

min(my_list), max(my_list), sum(my_list), len(my_list)

(10, 90, 278, 6)